<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ONDC Challenge7- case b</title>
</head>
<body>
    <section>
        <h2 class="text-center"><u>ONDC Innovation Hackathon</u></h2>
        <h3 class="text-center"><u>Challenge 7 -Delivery Route Optimization - 100 test cases</u></h3>
        <ol>
<li><a href='/challenge7/casea?startNode=0&vehicles=1'target='_blank'>Delivery Routes with optimizing for 1 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=0&vehicles=2'target='_blank'>Delivery Routes with optimizing for 1 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=0&vehicles=3'target='_blank'>Delivery Routes with optimizing for 1 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=0&vehicles=4'target='_blank'>Delivery Routes with optimizing for 1 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=1&vehicles=1'target='_blank'>Delivery Routes with optimizing for 2 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=1&vehicles=2'target='_blank'>Delivery Routes with optimizing for 2 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=1&vehicles=3'target='_blank'>Delivery Routes with optimizing for 2 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=1&vehicles=4'target='_blank'>Delivery Routes with optimizing for 2 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=2&vehicles=1'target='_blank'>Delivery Routes with optimizing for 3 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=2&vehicles=2'target='_blank'>Delivery Routes with optimizing for 3 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=2&vehicles=3'target='_blank'>Delivery Routes with optimizing for 3 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=2&vehicles=4'target='_blank'>Delivery Routes with optimizing for 3 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=3&vehicles=1'target='_blank'>Delivery Routes with optimizing for 4 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=3&vehicles=2'target='_blank'>Delivery Routes with optimizing for 4 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=3&vehicles=3'target='_blank'>Delivery Routes with optimizing for 4 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=3&vehicles=4'target='_blank'>Delivery Routes with optimizing for 4 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=4&vehicles=1'target='_blank'>Delivery Routes with optimizing for 5 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=4&vehicles=2'target='_blank'>Delivery Routes with optimizing for 5 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=4&vehicles=3'target='_blank'>Delivery Routes with optimizing for 5 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=4&vehicles=4'target='_blank'>Delivery Routes with optimizing for 5 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=5&vehicles=1'target='_blank'>Delivery Routes with optimizing for 6 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=5&vehicles=2'target='_blank'>Delivery Routes with optimizing for 6 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=5&vehicles=3'target='_blank'>Delivery Routes with optimizing for 6 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=5&vehicles=4'target='_blank'>Delivery Routes with optimizing for 6 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=6&vehicles=1'target='_blank'>Delivery Routes with optimizing for 7 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=6&vehicles=2'target='_blank'>Delivery Routes with optimizing for 7 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=6&vehicles=3'target='_blank'>Delivery Routes with optimizing for 7 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=6&vehicles=4'target='_blank'>Delivery Routes with optimizing for 7 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=7&vehicles=1'target='_blank'>Delivery Routes with optimizing for 8 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=7&vehicles=2'target='_blank'>Delivery Routes with optimizing for 8 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=7&vehicles=3'target='_blank'>Delivery Routes with optimizing for 8 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=7&vehicles=4'target='_blank'>Delivery Routes with optimizing for 8 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=8&vehicles=1'target='_blank'>Delivery Routes with optimizing for 9 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=8&vehicles=2'target='_blank'>Delivery Routes with optimizing for 9 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=8&vehicles=3'target='_blank'>Delivery Routes with optimizing for 9 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=8&vehicles=4'target='_blank'>Delivery Routes with optimizing for 9 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=9&vehicles=1'target='_blank'>Delivery Routes with optimizing for 10 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=9&vehicles=2'target='_blank'>Delivery Routes with optimizing for 10 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=9&vehicles=3'target='_blank'>Delivery Routes with optimizing for 10 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=9&vehicles=4'target='_blank'>Delivery Routes with optimizing for 10 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=10&vehicles=1'target='_blank'>Delivery Routes with optimizing for 11 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=10&vehicles=2'target='_blank'>Delivery Routes with optimizing for 11 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=10&vehicles=3'target='_blank'>Delivery Routes with optimizing for 11 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=10&vehicles=4'target='_blank'>Delivery Routes with optimizing for 11 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=11&vehicles=1'target='_blank'>Delivery Routes with optimizing for 12 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=11&vehicles=2'target='_blank'>Delivery Routes with optimizing for 12 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=11&vehicles=3'target='_blank'>Delivery Routes with optimizing for 12 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=11&vehicles=4'target='_blank'>Delivery Routes with optimizing for 12 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=12&vehicles=1'target='_blank'>Delivery Routes with optimizing for 13 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=12&vehicles=2'target='_blank'>Delivery Routes with optimizing for 13 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=12&vehicles=3'target='_blank'>Delivery Routes with optimizing for 13 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=12&vehicles=4'target='_blank'>Delivery Routes with optimizing for 13 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=13&vehicles=1'target='_blank'>Delivery Routes with optimizing for 14 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=13&vehicles=2'target='_blank'>Delivery Routes with optimizing for 14 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=13&vehicles=3'target='_blank'>Delivery Routes with optimizing for 14 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=13&vehicles=4'target='_blank'>Delivery Routes with optimizing for 14 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=14&vehicles=1'target='_blank'>Delivery Routes with optimizing for 15 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=14&vehicles=2'target='_blank'>Delivery Routes with optimizing for 15 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=14&vehicles=3'target='_blank'>Delivery Routes with optimizing for 15 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=14&vehicles=4'target='_blank'>Delivery Routes with optimizing for 15 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=15&vehicles=1'target='_blank'>Delivery Routes with optimizing for 16 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=15&vehicles=2'target='_blank'>Delivery Routes with optimizing for 16 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=15&vehicles=3'target='_blank'>Delivery Routes with optimizing for 16 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=15&vehicles=4'target='_blank'>Delivery Routes with optimizing for 16 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=16&vehicles=1'target='_blank'>Delivery Routes with optimizing for 17 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=16&vehicles=2'target='_blank'>Delivery Routes with optimizing for 17 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=16&vehicles=3'target='_blank'>Delivery Routes with optimizing for 17 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=16&vehicles=4'target='_blank'>Delivery Routes with optimizing for 17 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=17&vehicles=1'target='_blank'>Delivery Routes with optimizing for 18 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=17&vehicles=2'target='_blank'>Delivery Routes with optimizing for 18 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=17&vehicles=3'target='_blank'>Delivery Routes with optimizing for 18 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=17&vehicles=4'target='_blank'>Delivery Routes with optimizing for 18 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=18&vehicles=1'target='_blank'>Delivery Routes with optimizing for 19 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=18&vehicles=2'target='_blank'>Delivery Routes with optimizing for 19 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=18&vehicles=3'target='_blank'>Delivery Routes with optimizing for 19 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=18&vehicles=4'target='_blank'>Delivery Routes with optimizing for 19 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=19&vehicles=1'target='_blank'>Delivery Routes with optimizing for 20 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=19&vehicles=2'target='_blank'>Delivery Routes with optimizing for 20 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=19&vehicles=3'target='_blank'>Delivery Routes with optimizing for 20 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=19&vehicles=4'target='_blank'>Delivery Routes with optimizing for 20 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=20&vehicles=1'target='_blank'>Delivery Routes with optimizing for 21 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=20&vehicles=2'target='_blank'>Delivery Routes with optimizing for 21 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=20&vehicles=3'target='_blank'>Delivery Routes with optimizing for 21 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=20&vehicles=4'target='_blank'>Delivery Routes with optimizing for 21 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=21&vehicles=1'target='_blank'>Delivery Routes with optimizing for 22 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=21&vehicles=2'target='_blank'>Delivery Routes with optimizing for 22 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=21&vehicles=3'target='_blank'>Delivery Routes with optimizing for 22 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=21&vehicles=4'target='_blank'>Delivery Routes with optimizing for 22 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=22&vehicles=1'target='_blank'>Delivery Routes with optimizing for 23 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=22&vehicles=2'target='_blank'>Delivery Routes with optimizing for 23 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=22&vehicles=3'target='_blank'>Delivery Routes with optimizing for 23 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=22&vehicles=4'target='_blank'>Delivery Routes with optimizing for 23 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=23&vehicles=1'target='_blank'>Delivery Routes with optimizing for 24 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=23&vehicles=2'target='_blank'>Delivery Routes with optimizing for 24 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=23&vehicles=3'target='_blank'>Delivery Routes with optimizing for 24 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=23&vehicles=4'target='_blank'>Delivery Routes with optimizing for 24 as first node and 4 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=24&vehicles=1'target='_blank'>Delivery Routes with optimizing for 25 as first node and 1 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=24&vehicles=2'target='_blank'>Delivery Routes with optimizing for 25 as first node and 2 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=24&vehicles=3'target='_blank'>Delivery Routes with optimizing for 25 as first node and 3 vehicles</a></li>
<li><a href='/challenge7/casea?startNode=24&vehicles=4'target='_blank'>Delivery Routes with optimizing for 25 as first node and 4 vehicles</a></li>
        </ol>
    </section>
</body>
</html>