@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dark-bg {
  background-color: #2C2C2C;
}

.custom-primary {
  color: #EB11D9;
}

.custom-light {
  color: #C4C4C4;
}

.custom-primary-btn {
  background-color: #EB11D9;
}

.custom-button {
  @apply inline-block text-white bg-blue-600 hover:bg-blue-500 font-semibold py-2 px-4 rounded shadow;
}

.custom-button-secondary-large {
  @apply inline-block border border-gray-300 hover:bg-blue-500 hover:text-white py-2 px-4 rounded shadow;
}

.custom-button-secondary {
  @apply inline-block border border-gray-300 hover:bg-blue-500 hover:text-white py-1 px-2 rounded shadow;
}

.custom-button-danger {
  @apply inline-block border border-red-500 text-red-500 hover:bg-red-300 py-1 px-2 rounded shadow;
}

.custom-label {
  @apply text-base leading-7 text-gray-500;
}

.custom-input {
  @apply block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}
