<div class="max-w-xl lg:mx-auto mt-10 mx-5">
  <h1 class="custom-primary text-6xl font-bold">alme</h1>
  <p class="mt-10 custom-light text-2xl font-light">
    Helps small retailers order optimal quantities of items to reduce costs.
  </p>

  <a class="inline-block mt-10 custom-primary-btn hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-900 rounded shadow" href="/products">
    Try now →
  </a>
</div>
