
<div class="max-w-xl lg:mx-auto mt-10 mx-5">

  <div class="border-b border-gray-200 pb-5 mb-5">
    <%= link "alme", to: Routes.product_path(@conn, :index), class: "text-gray-700 text-4xl font-bold pb-5 mb-5 border-b border-gray-200" %>
  </div>

  <div class="mt-30">
    <%= @inner_content %>
  </div>
</div>
